<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="./vendor/autoload.php">
    <testsuites>
        <testsuite name="main">
            <directory>./modules/app/test</directory>
            <directory>./modules/site/test</directory>
            <exclude>./modules/app/test/DataAccessMySqlTest.php</exclude>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./modules/app/src</directory>
            <directory suffix=".php">./modules/site/src</directory>
        </whitelist>
    </filter>
</phpunit>
