@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Muli|Open+Sans&display=swap');

$font-text: 'Muli', sans-serif;

body {
  margin: 0;
  padding: 0;
  font-family: $font-text;
}

